{% load static %}
{% load dict_key %}
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Popeye UI </title>
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/popeye.css' %} ">
      <link rel="shortcut icon" href="{% static 'images/popeye.png' %}" />
      <script src="https://kit.fontawesome.com/2f3563731d.js" crossorigin="anonymous"></script>
      <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
      <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

   </head>
   <body>
      <div class="d-flex" id="wrapper">
         <!-- Sidebar -->
         <!-- /#sidebar-wrapper -->
         <!-- Page Content -->
         <div id="page-content-wrapper">

            <div class="container-fluid">
               <h1 class="mt-4 fa fa-hand-o-right"> Cluster Sanity Report</h1> <a href="refresh" class="fa fa-refresh" aria-hidden="true"></a>
               <br /><br />

            <div class="card-deck">
                  <div class="card text-center">
                     <div class="card-body"> <h1 class="card-text"> {{ results.popeye.score }}</h1> </div>
                      <h1 class="card-header text-primary">Cluster Score</h1>
                  </div>
                  <div class="card text-center">
                     <div class="card-body"> <h1 class="card-text"> {{ results.popeye.grade }}</h1> </div>
                      <h1 class="card-header text-primary">Grade</h1>
                  </div>
              </div>
            </div>
               {% for sanitizers in results.popeye.sanitizers %}
               <br />
                  <div class="pl-5 pr-5">
                     <table class="table table-bordered"> <tr><td class="text-center table-dark"><h4> <i class="fa fa-arrow-right" aria-hidden="true"></i> {{ sanitizers.sanitizer|capfirst }} </h4></td></tr><tr><td>
                     <div class="card-deck" >
                        <div class="card text-center ">
                           <h5 class="card-header bg-primary  p-3"> <i class="fa fa-check" aria-hidden="true"></i> Ok</h5>
                           <div class="card-body p-3"> <h1 class="card-text"> {{ sanitizers.tally.ok }}</h1> </div>
                        </div>
                        <div class="card text-center">
                           <h5 class="card-header bg-info  p-3"><i class="fa fa-info" aria-hidden="true"></i> Info</h5>
                           <div class="card-body  p-3"> <h1 class="card-text"> {{ sanitizers.tally.info }}</h1> </div>
                        </div>
                        <div class="card text-center">
                           <h5 class="card-header bg-warning  p-3"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Warning</h5>
                           <div class="card-body  p-3"> <h1 class="card-text"> {{ sanitizers.tally.warning }}</h1> </div>
                        </div>
                        <div class="card text-center">
                           <h5 class="card-header bg-danger  p-3"><i class="fa fa-times-circle" aria-hidden="true"></i> Error</h5>
                           <div class="card-body  p-3">  <h1 class="card-text"> {{ sanitizers.tally.error }}</h1> </div>
                        </div>
                        <div class="card text-center">
                           <h5 class="card-header bg-success  p-3"><i class="fa fa-bullseye" aria-hidden="true"></i> Score</h5>
                           <div class="card-body  p-3"> <h1 class="card-text "> {{ sanitizers.tally.score }}</h1> </div>
                        </div>
                     </div>
                     <div class="pl-5 pr-5">
                        <i class="fas fa-angle-right"></i> <a href="#" data-toggle="collapse" data-target="#{{ sanitizers.sanitizer }}"> Details </a>
                        <table class="table collapse" id="{{ sanitizers.sanitizer }}" >
                           <thead>
                              <tr class="bg-secondary">
                                 <td> Resource</td> <td> Group </td> <td> Level  </td> <td> Message </td>
                              </tr>
                           </thead>
                           {% for issue in sanitizers.issues %}
                              {% for issue_det in sanitizers.issues|dict_key:issue %}
                                    {% if issue_det %}
                                       <tr>
                                       <td> {{ issue }} </td> <td> {{ issue_det.group }} </td> <td>{{ issue_det.level }}  </td> <td> {{ issue_det.message }} </td>
                                       </tr>
                                    {% endif %}
                              {% endfor %}
                           {% endfor %}
                        </table>
                     </div>
                     </td></tr></table>
                  </div>
               {% endfor %}
               <br />
         </div>
         </div>
         <!-- /#page-content-wrapper -->
      </div>
      <!-- /#wrapper -->

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script>
         $("#menu-toggle").click(function(e) {
           e.preventDefault();
           $("#wrapper").toggleClass("toggled");
         });
         $(document).ready(function() {
         $('#displaytb').DataTable();
         } );
      </script>
   </body>
</html>
